@font-face {
  font-family: Sunset Boulevard;
  src: url(SunsetBoulevard.otf);
}
@font-face {
  font-family: Hamburger Heaven;
  src: url(HAMBH___.TTF);
}
@font-face {
  font-family: Byom Icons;
  src: url(Byom-Icons-Trial.ttf);
}
body {
  background-image: url(foodplate1.png), url(foodplate2.png), url(graycloth.jpg);
  background-size: 30%, 32%, cover;
  background-position: 1070px 310px, 20px 100px, -180px -56px;
  background-attachment: fixed, fixed, fixed;
  background-repeat: no-repeat, no-repeat, repeat;
}
.yellowbox {
  position: fixed;
  top: -5%;
  right: 20%;
  height: 250px;
  width: 60vw;
  background-color: #f9fcd1;
  border-radius: 23px;
  border: none;
  display: flex;
  justify-content: center;
}
.title {
  position: absolute;
  font: 8em "Sunset Boulevard";
}
.addbutton {
  position: absolute;
  right: 5%;
  bottom: 2%;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.addbutton:active {
  background-color: white;
}
.greenbox {
  position: fixed;
  bottom: -30%;
  right: 20%;
  height: 686px;
  width: 60vw;
  background-color: #d2eae3;
  background-image: url(confetti.png);
  background-size: 30%;
  background-repeat: repeat;
  border-radius: 23px;
  border: none;
}
.restcontain {
  border: none;
  width: 99%;
  height: 61%;
  left: 0%;
  top: 5%;
  overflow-y: auto;
  position: absolute;
}
.restaurant {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  width: 80%;
  height: auto;
  text-align: center;
  position: relative;
  margin: auto;
}
.rname {
  text-decoration: none;
  color: #3c3b3b;
  font: 2.5em "Gabriola";
}
.rname:hover {
  background-color: #f9c459;
  border-radius: 5%;
}
.menucontain {
  z-index: 1;
  height: 90vh;
  width: 70vw;
  position: fixed;
  bottom: 4%;
  left: 15%;
  margin: auto;
}
.editbutton {
  position: absolute;
  right: 45%;
  top: 1%;
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 2;
}
.editbutton:active {
  background-color: #c7fde4;
  border-radius: 20%;
}
#addbutton {
  position: absolute;
  right: 24%;
  top: 6%;
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 2;
}
#addbutton:active {
  background-color: #c7fde4;
  border-radius: 100%;
}
.exitmenu {
  right: 1%;
  top: 1%;
  position: absolute;
  z-index: 2;
}
.exitbutton:active {
  background-color: #c7fde4;
  border-radius: 100%;
}
.bluemenu {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
}
.menuright {
  position: absolute;
  top: 10.6%;
  right: 3%;
  height: 78.8%;
  width: 42%;
  z-index: 1;
  overflow-y: auto;
}

.course {
  top: 0%;
  left: 0%;
  width: 100%;
  overflow-wrap: break-word;
}
.itemname {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  text-decoration-color: black;
}
.itemdesc {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 6px;
  margin-bottom: 8px;
  text-decoration-color: black;
}
.appetizer {
  opacity: 0.64;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: 1;
  margin-block: 10px;
  border: black solid 2px;
}
.entree {
  opacity: 0.64;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-block: 10px;
  border: black solid 2px;
}

.coursetitle {
  margin: auto;
  margin-bottom: 4%;
  grid-column: 1/3;
  background-size: cover;
}
.dessert {
  opacity: 0.64;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-block: 10px;
  border: black solid 2px;
}
.beverage {
  opacity: 0.64;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-block: 10px;
  border: black solid 2px;
}
.menuleft {
  position: absolute;
  top: 10.5%;
  left: 4.9%;
  height: 78%;
  width: 39%;
  z-index: 5;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.restauranttitle {
  font: 4em "Hamburger Heaven";
  color: #480b0b;
  position: absolute;
  top: 35%;
  z-index: 5;
  display: flex;
  flex-grow: inherit;
  flex: auto;
  text-align: center;
}
#newrestdiv,
#editrestdiv,
#deleterestdiv,
#edititemdiv {
  top: 30%;
  left: 38%;
  width: 30%;
  height: 50%;
  border: none;
  display: none;
  position: absolute;
  z-index: 7;
}
.inputform {
  width: 85%;
  height: 85%;
  border: black solid 1px;
  border-radius: 5%;
  position: absolute;
  left: 0%;
  bottom: 0%;
  background-color: azure;
  text-align: center;
}
.exitform {
  right: 12%;
  top: 12%;
  position: absolute;
}
.exitform:active {
  background-color: #54c9f771;
  border-radius: 100%;
}
.submitform {
  background-color: #7490c4;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
}
.editmenubuttons {
  position: relative;
  text-align: center;
  display: none;
  grid-template-columns: 50% 50%;
  margin-bottom: 4%;
}
.nav-links:active {
  color: red;
}
.nav-links {
  text-decoration: none;
  color: black;
  font: 1em "Byom Icons";
}
#editrestaurant {
  color: black;
  font: 0.5em "Byom Icons";
  position: relative;
  background: none;
  border: none;
}
#deleterestaurant {
  color: black;
  font: 0.5em "Byom Icons";
  position: relative;
  background: none;
  border: none;
  bottom: 5%;
}
.edititemform {
  width: 400px;
  height: 400px;
  border: black solid 1px;
  border-radius: 5%;
  position: absolute;
  left: 35%;
  bottom: 30%;
  background-color: azure;
  text-align: center;
  padding-left: 2%;
}
.deleteitemform {
  width: 400px;
  height: 200px;
  border: black solid 1px;
  border-radius: 5%;
  position: absolute;
  left: 35%;
  bottom: 40%;
  background-color: azure;
  text-align: center;
}
