body {
  background-image: url(graycloth.jpg);
  background-size: cover;
  background-position: -180px -56px;
  background-attachment: absolute;
  background-repeat: repeat;
  background-size: 120%;
  overflow: hidden;
}
.food1contain {
  height: 483px;
  width: 469px;
  border: none;
  margin: 20% 10% 0% 70%;
}
.food1 {
  height: 97%;
  width: 97%;
  margin: 0% 0% 0% 0%;
}
.food2contain {
  height: 483px;
  width: 469px;
  border: none;
  margin: -45% 0% 0% 0%;
}
.food2 {
  height: 90%;
  width: 90%;
  margin: 0% 0% 0% 0%;
}
.yellowbox {
  position: fixed;
  top: -5%;
  right: 20%;
  height: 250px;
  width: 60vw;
  background-color: #f9fcd1;
  border-radius: 23px;
  border: none;
  text-align: center;
}
img.title {
  height: 50%;
  width: 50%;
  top: 35%;
  position: relative;
}
.greenbox {
  position: fixed;
  bottom: -30%;
  right: 20%;
  height: 686px;
  width: 60vw;
  background-color: #d2eae3;
  background-image: url(../static/confetti.png);
  background-size: 30%;
  background-repeat: repeat;
  border-radius: 23px;
  border: none;
}
.restcontain {
  border: none;
  width: 99%;
  height: 61%;
  left: 0%;
  top: 5%;
  overflow-y: auto;
  position: absolute;
}
.restaurant {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  width: 80%;
  height: auto;
  text-align: center;
  position: relative;
  margin: auto;
  padding: 1%;
}
.rname {
  text-decoration: none;
  color: #3c3b3b;
  font: 2.5em "Gabriola";
}
.nav-links {
  text-decoration: none;
  color: #9c9595;
  font: 1em sans-serif;
  padding: 5%;
}
.rname:hover {
  background-color: #f9c459;
}
