<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <form action="#" method="POST">
    <h2>Edit {{ item.name }}</h2>
    <p>Name:<input type="text" name="name" placeholder="{{ item.name }}" /></p>
    <p>
      Course:<input type="text" name="course" placeholder="{{ item.course }}" />
    </p>
    <p>
      Price:<input type="text" name="course" placeholder="{{ item.price }}" />
    </p>
    <p>
      Description:<textarea
        name="description"
        rows="10"
        cols="30"
        placeholder="{{ item.description }}"
      ></textarea>
    </p>
    <button type="submit">Edit</button>
    <button type="submit">Cancel</button>
  </form>
</html>
