<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <form action="#" method="POST">
    <h2>Change Restaurant Name</h2>
    <p>
      <input type="text" name="name" placeholder="{{ restaurant.name }}" />
    </p>
    <button type="submit">Change</button>
    <button type="submit">Cancel</button>
  </form>
</html>
