<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ restaurant.name }}</h1>

    {% for item in items %}
    <div id="menu">
      {{ item.name }}<br />
      {{ item.description }}<br />
      {{ item.price }}<br />
      <a href="#">Edit</a>
      <a href="#">Delete</a><br /><br />
    </div>
    {% endfor %}
  </body>
</html>
