<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create Restaurant</title>
  </head>
  <form action="{{ url_for('newRestaurant') }}" method="POST">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {%for message in messages%}
      <li>
        <strong> {{ message }} </strong>
      </li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <h2>Add New Restaurant</h2>
    <p>
      Name:
      <input type="text" name="name" />
    </p>
    <input type="submit" value="Submit" />
    <button type="submit" formaction="{{ url_for('showRestaurants') }}">
      Cancel
    </button>
  </form>
</html>
